<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.mobify.orderbread.feature">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".OrderBreadAppication">
        <activity android:name=".activities.breadList.BreadListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.breadDetails.BreadDetailsActivity">
        </activity>
    </application>

</manifest>